body{
    background-image: url("/pics/mine.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    
}
h1,h2{
    color: white;
    text-align: center;
}
header{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: skyblue;
    
}
nav{
    margin: 2px;
    padding:18px;
    background-color: skyblue;
}
ul{
    list-style-type: none;
}
    
li>a{
    color:rgb(87, 139, 4);
    margin-left:320px;
    float: left;
}
p{
    margin: 10px;
    padding:30px;
    border:25px;
    background-color: lightblue;
    width:20%;
    font-size: x-large;
}
footer{
    background-color:maroon;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: column;
    opacity: 0.6;  
    color:yellow;     
}