body{
    background-color: #91006e;
}
header{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: skyblue;
    
}
    
nav{
    margin: 2px;
    padding:18px;
    background-color: skyblue; margin: 2px;
    padding:18px;
    background-color: skyblue;
       
}
ul{
    list-style-type: none;
}
li>a{
    color:rgb(87, 139, 4);
    margin-left:320px;
    float: left;
}

li{
    font-size: large;
    line-height:40px;
}