body{
    background-color: skyblue;
    background-image: url("../pics/swis.jpeg");
    background-repeat: no-repeat;
    background-position: cover;
    font font-weight: 30px;
}
p{
    font-size: large;

}  
h2,h1{
    color: navy;
    
} 
h1{
   text-align: center;
}
img{
    height:180px;
    width:180px;
    
}